.movieDetails {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #f4f4f9;
    border-radius: 8px;
    display: flex;
    /* Layout a due colonne */
    flex-direction: row;
    gap: 20px;
    /* Spazio tra le due colonne */
    align-items: flex-start;
}

.movieImage {
    width: 450px;
    border-radius: 8px;
    object-fit: cover;
}

.movieInfo {
    flex: 1;
    /* Si espande per occupare lo spazio disponibile */
}

.reviews {
    display: flex;
    flex-direction: column;
    /* Dispone le recensioni in colonna */
    flex: 1;
    /* Permette alle recensioni di occupare spazio */
    margin-top: 20px;
    /* Distanza tra la locandina e le recensioni */
}

.reviewsTitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.reviewsList {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    /* Distanza tra recensioni e form */
}

.reviewItem {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.stars {
    margin-top: 5px;
}

.filledStar {
    color: gold;
}

.emptyStar {
    color: #ddd;
}

.addReviewTitle {
    font-size: 1.25rem;
    margin-top: 20px;
    color: #333;
}