/* Impostazioni generali del footer */
.footer {
    background-color: #212529;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 100px;
}

.footer h5 {
    font-weight: bold;
}

/* Colonne del footer */
.footer .col-md-4 {
    margin-bottom: 30px;
}

/* Icone social */
.footer-icon {
    font-size: 20px;
    margin: 0 10px;
    color: white;
    transition: color 0.3s ease;
}

.footer-icon:hover {
    color: #007bff;
    transform: scale(1.2);
}

/* Link nella sezione "Information" */
.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Testo del copyright */
.footer .text-center {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.footer .text-white {
    color: white;
}