/* stile generale */
.myList {
  list-style-type: none;
}

body {
  background-color: rgb(103, 103, 126);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}