body {
  background-color: rgb(103, 103, 126);
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 20px;
}

.content {
  padding: 20px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}